html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  display: flex;
  height: 100%;
}

main {
  padding: 20px;
}

.counter {
  padding: 20px;
  display: inline-block;
}

*:focus {
  outline: none;
}

/* SourceSansPro */

@font-face {
  font-family: SourceSansPro;
  src: url(fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro;
  src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro;
  src: url(fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro;
  src: url(fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: bold; /* 700 */
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: SourceSansPro;
  src: url(fonts/Source_Sans_Pro/SourceSansPro-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* JetBrainsMono */

@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
